<!-- MICHAEL CHANG -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/basketball.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>NBA Games</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <nav class="navbar navbar-light bg-light justify-content-start">
          <a class="navbar-brand border p-2 bg-primary text-light" href="/"
            >Home</a
          >
          <a class="navbar-brand border p-2 bg-primary text-light" href="/games"
            >Games CRUD (Michael Chang)</a
          >
          <a
            class="navbar-brand border p-2 bg-primary text-light"
            href="/employees"
            >Players CRUD (Daniel Lisko)</a
          >
          <a
            class="navbar-brand border p-2 bg-primary text-light"
            href="/teamStats"
            >Team Stats CRUD (Michael Chang)</a
          >
          <a
            class="navbar-brand border p-2 bg-primary text-light"
            href="/playersStats"
            >Player Stats CRUD (Daniel Lisko)</a
          >
        </nav>

        <h1>NBA GAMES CRUD</h1>
        <!-- filter by game by Team or Date -->
        <div class="row m-3 box border border-dark">
          <h2>FILTER BY GAME</h2>
          <div class="col">
            <form action="/games/filterBy" method="post">
              <label for="teamID">Choose a Team:</label>
              <select name="teamID" id="teamID">
                <% if(current.selectedTeam !== null){ %>
                <option value="<%=current.selectedTeam%>" selected>
                  <%=current.selectedTeam%>
                </option>
                <% } else{ %>
                <option value="" selected>All Teams</option>
                <% } %> <% teams.forEach((team) => { %>
                <option value="<%=team.abbreviation%>">
                  <%=team.abbreviation%> - <%=team.teamName%>
                </option>
                <% }) %>
              </select>
              <label for="date">Choose a Date:</label>
              <select name="date" id="date">
                <% if(current.selectedDate !== null){ %>
                <option value="<%=current.selectedDate%>" selected>
                  <%=current.selectedDate%>
                </option>
                <% } else{ %>
                <option value="" selected>All Dates</option>
                <% } %> <%allDates.forEach((date)=> {%>
                <option value="<%=date%>"><%=date%></option>
                <%})%>
              </select>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- create a new Game -->
        <div class="row m-3 box border border-dark">
          <h2>ADD A GAME</h2>
          <div class="col">
            <form action="/games/insertGame" method="post">
              <label for="homeTeam">Choose a Home Team:</label>
              <select name="homeTeam" id="homeTeam">
                <% teams.forEach((team) => { %>
                <option value="<%=team.abbreviation%>">
                  <%=team.abbreviation%> - <%=team.teamName%>
                </option>
                <% }) %>
              </select>

              <label for="awayTeam">Choose an Away Team:</label>
              <select name="awayTeam" id="awayTeam">
                <% teams.forEach((team) => { %>
                <option value="<%=team.abbreviation%>">
                  <%=team.abbreviation%> - <%=team.teamName%>
                </option>
                <% }) %>
              </select>
              <label for="date">Date of game:</label>
              <input
                name="date"
                type="text"
                placeholder="mm/dd/yyyy"
                id="date"
                min="10-19-2021"
                max="06-30-2022"
                required
              />
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
        </div>
        <a href="/games">Refresh Games/Reset Filters</a>
        <!-- render the cards for the games -->
        <div class="row">
          <div class="m-2">
            <h2>
              CURRENT GAMES (<span class="text-primary">Home </span> VS
              <span class="text-danger">AWAY</span>)
            </h2>
          </div>
          <% games.forEach((game) => { %>
          <div class="col-sm-6 col-md-4">
            <div class="card m-1">
              <div class="card-body">
                <h6 class="card-title">
                  <%= game.date %>
                  <br />
                  <span class="text-primary"
                    ><%= game.homeTeam.abbreviation%>
                    <%=game.homeTeam.teamName%>
                    <span class="text-dark">
                      (<%=teamsWinsAndLosses[game.homeTeam.abbreviation].wins%>W-
                      <%=teamsWinsAndLosses[game.homeTeam.abbreviation].losses%>L)</span
                    >
                  </span>
                  VS.
                  <span class="text-danger"
                    ><%=game.awayTeam.abbreviation%> <%=game.awayTeam.teamName%>
                    <span class="text-dark">
                      (<%=teamsWinsAndLosses[game.awayTeam.abbreviation].wins%>W-
                      <%=teamsWinsAndLosses[game.awayTeam.abbreviation].losses%>L)</span
                    >
                  </span>
                </h6>

                <% if (game.winTeam !== null && game.winTeam.teamName ===
                game.homeTeam.teamName) { %>
                <h6 class="card-subtitle text-success">
                  | Winner - <%= game.homeTeam.abbreviation%> | <%=
                  game.winTeamPoints%> | <%= game.loseTeamPoints%> |
                  <%=game.awayTeam.abbreviation%> - Loser |
                </h6>
                <% } else if (game.winTeam !== null && game.winTeam.teamName ===
                game.awayTeam.teamName) { %>
                <h6 class="card-subtitle text-success">
                  | Winner - <%= game.awayTeam.abbreviation%> | <%=
                  game.winTeamPoints%> | <%= game.loseTeamPoints%> |
                  <%=game.homeTeam.abbreviation%> - Loser |
                </h6>
                <% } %>

                <div class="row">
                  <div class="col-6">
                    <form action="/editGame" method="post">
                      <input
                        name="gameID"
                        type="hidden"
                        value="<%=game._id%>"
                      />
                      <input
                        name="homeTeam"
                        type="hidden"
                        value="<%=game.homeTeam.abbreviation%>"
                      />
                      <input
                        name="awayTeam"
                        type="hidden"
                        value="<%=game.awayTeam.abbreviation%>"
                      />
                      <input
                        name="date"
                        placehodler="mm-dd-yyyy"
                        type="hidden"
                        value="<%=game.date%>"
                      />
                      <input
                        name="homeTeamPoints"
                        type="hidden"
                        value="<%=game.homeTeamPoints%>"
                      />
                      <input
                        name="awayTeamPoints"
                        type="hidden"
                        value="<%=game.awayTeamPoints%>"
                      />
                      <input
                        name="winTeamPoints"
                        type="hidden"
                        value="<%=game.winTeamPoints%>"
                      />
                      <input
                        name="loseTeamPoints"
                        type="hidden"
                        value="<%=game.loseTeamPoints%>"
                      />
                      <input
                        name="attendance"
                        type="hidden"
                        value="<%=game.attendance%>"
                      />
                      <input
                        name="overTime"
                        type="hidden"
                        value="<%=game.overTime%>"
                      />
                      <button
                        type="submit"
                        class="btn btn-secondary btn-sm mt-2"
                      >
                        Edit Results
                      </button>
                    </form>
                  </div>
                  <div class="col-6">
                    <form action="/games/deleteGame" method="post">
                      <input
                        name="gameID"
                        type="hidden"
                        value="<%=game._id%>"
                      />
                      <button type="submit" class="btn btn-danger btn-sm mt-2">
                        Delete Game
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } )%>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
